/* 반응형 */

@media (max-width: 900px) {	
	.container{
			width: 100%;
			padding: 0 14px;
			padding-left: 14px;
			padding-right: 14px;
			box-sizing: border-box;
	}
	.porfolio-list{
			gap: 0;
	}
	.porfolio-list li{
			width: 100%;
	}
	.inner-pd{
			padding: 30px 0;
	}
	}
	
	@media (max-width: 600px){
		.menu-icon{
			display: block;
			margin-left: 14px;
		}
		nav{
			position: relative;
			height: auto;
			padding: 6px 0 0;
		}
		nav .container{
			padding-left: 0;
			padding-right: 0;
		}
		.social-menu{
			position: absolute;
			right: 15px;
			top: 5px;
	
		}
		nav > div{
			flex-direction: column;
			align-items: start;
		}
		nav .main-menu{
			background: #333;
			margin-top: 6px;
			padding-left: 14px;
			flex-direction: column;
			width: 100%;
			gap: 0;
			height: 0;
			overflow: hidden;
			transition: height 0.5s;
		}
		nav .main-menu.active{
			height: 160px;
		}
		nav .main-menu li a{
			display: block;
			line-height: 40px;
		}
		.feature{
			
		}
		.feature ul{
			flex-direction: column;
			background-image: none;
	
		}
		.feature ul li{
			height: 120px;
			justify-content: start;
			border-bottom: 1px solid #fff;
			padding-left: 14px;
			background:url(../images/feature-bg.jpg) no-repeat;
		}
		.feature ul li a{
			flex-direction: row;
			
		}
		.feature .container{
			padding: 0;
		}
		.feature li:first-child{
			border-left: none;
		}
		.feature ul li:nth-child(1){
			 
		}
		.feature ul li:nth-child(2){
			background-position: center;
		}
		.feature ul li:nth-child(3){
			background-position: right bottom;
			border: none;
		}
	
		.porfolio-list{
			flex-direction: column;
			gap: 20px;
		}
		.footer-contents{
			flex-direction: column;
		}
	}
	